
<main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about-us" class="about-us padd-section">
        <div class="container" data-aos="fade-up">
            <div class="row justify-content-center">

                <div class="col-md-7 col-lg-5">

                    <div class="about-content" data-aos="fade-left" data-aos-delay="100">

                        <h2>關於我們</h2>

                        <h4>Many Simple Tool</h4>
                        <p>
                            各種小工具集合，慢慢開發中......
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </section><!-- End About Us Section -->

</main><!-- End #main -->
